.main-header{
    font-size: 60px;
    font-weight: 600;
    padding: 30px 0px;
}

.nav-bar{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 30px 0px;
}

.nav-bar__list{
    padding: 15px 70px;
    display: flex;
    justify-content: space-between;
}